#game-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.stack {
  width: 61px;
  height: 211px;
  border: 2px solid #1c1a1a;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #f9f9f9;
  position: relative;
}

.item-piece {
  transition: transform ease, opacity ease;
  width: 45px;
  height: 45px;
  margin: 2px 0;
  background-color: red;
  object-fit: contain;
  cursor: grab;
  object-fit: contain;
}
.color-Red { background-color: red; }
.color-Blue { background-color: blue; }
.color-Green { background-color: green; }
.color-Yellow { background-color: yellow; }
.color-Black { background-color: rgb(3, 3, 3); }
.color-Purple { background-color: rgb(214, 7, 246); }
.color-Pink { background-color: rgb(242, 30, 171); }

.item-piece.dragging {
  opacity: 0.5;
  border: 2px dashed #007bff;
  transform: scale(1.1);
  /* pointer-events: none; Förhindrar att elementet fångar onödiga händelser */
  z-index: 10;
}

.selected-item {
  border: 3px solid yellow; /* Anpassa styling för markerat objekt */
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.7);
}


/* .stacked {
  position: absolute;
} */

/* CSS för max 4 objekt */
/* .position-0 { bottom: 0; } */
/* .position-1 { bottom: 35px; } */
/* .position-2 { bottom: 70px; } */
/* .position-3 { bottom: 105px; } */


/* .empty-slot {
  border-style: solid;
} */
